.text {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 0;
}

.active {
  color: green;
}

.retired {
  color: orange;
}

.icon {
  width: 20px;
  height: 20px;
  color: aquamarine;
}
